@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins', sans-serif;
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}
#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
}

#section1 button {
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
}
#section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg, 0deg);
  font-style: italic;
  margin: 0;
}
#section3 {
  display: inline-block; 
  padding: 20px; 
  background-color: white; 
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  margin: 20px; 
  width: 100%; 
  max-width: 800px; 
}

h2 {
  color: #ED1C24; 
  margin-bottom: 20px; 
}

table {
  width: 100%;
  border-collapse: collapse; 
}

td {
  padding: 10px; 
  border: 1px solid #ddd; 
  text-align: center; 
}

.create-org {
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);  
  color: #ED1C24; 
  background-color: #FB3B49; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer;
  border-radius: 5px; /
 
}

.create-org:hover {
  background-color: #FB2B3A; 
}
